body {
  margin: 0px;
  min-width: 1400px;
  background-color: #0f1923;
}

#content {
  font-family: "Lato";
}

.grid-container {
  display: grid;
  grid-auto-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-auto-flow: column;
}

/* Header */

.header {
  grid-area: 1 / 1 / 2 / 11;
  text-align: left;
  color: white;
  background-color: #1f3347;
  padding: 25px;
  /opacity: 0.8;
}

.background {
  grid-area: 2 / 1 / 3 / 11;
  margin-left: auto;
  margin-right: auto;
}

/* Search Filter */

.search-filter {
  margin-top: 20px;
  grid-area: 3 / 2 / 4 / 10;
  background-color: #edf2f7;
  padding: 10px;
  font-size: 12px;
  border-radius: 25px;
  color: #0f1923;
  border: 2px solid white;
}

.search-filter table {
  width: 100%;
  background-color: #edf2f7;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid white;
}

/* Catalog */

.catalog {
  margin-top: 20px;
  grid-area: 4 / 2 / 5 / 10;
}

.catalog table {
  width: 100%;
  background-color: #edf2f7;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid white;
}

.catalog table th {
  text-align: center;
  padding: 3px;
}

.catalog table td {
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
}

.title_td {
  font-size: 15px;
}

.title_td:hover {
  background-color: #618cb8;
  cursor: pointer;
}

.align_center {
  text-align: center;
}

.catalog table th {
  border-radius: 10px;
  border: 1px solid black;
}
