<!DOCTYPE html>
<html>

  <head>
    <title>FLXR</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
  </head>

  <body>

    <div id="content">

      <div class="header">
        <a href="https://flxr-app.herokuapp.com/">
          <img title="Return to FLXR Catalog" src="https://img.icons8.com/nolan/64/video-projector.png" />
        </a>
        <div id="header-title">FLXR | <span>A Netflix Originals Catalog</span></div>
      </div>

      <div class="grid-container">

        <div class="backgroundLayer"></div>

        <div class="titleImage">
          <img src="{{about_dict['imageURL']}}">
        </div>

        <div class="titleInformation">
          <ul>
            <li>
              <h2>{{about_dict['title']}}</h2>
            </li>
            <hr>
            <li>
              <h4>{{about_dict['titleType']}} | {{about_dict['releaseYear']}} | {{about_dict['length']}} min.</h4>
            </li>
            <li>
              <h4>IMDB Rating | {{about_dict['rating']}} / 10 </h4>
            </li>
            <li>
              <h4>Genre | {{about_dict['genre']}}</h4>
            </li>
          </ul>
        </div>

        <div class="titleSummary">
          <h3>Summary</h3>
          <hr>
          <p>{{about_dict['summary']}}</p>
        </div>

      </div>

    </div>


  </body>

</html>
