<!DOCTYPE html>
<html>

  <head>
    <title>FLXR</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
  </head>

  <body>

    <div id="content">

      <div class="grid-container">

        <div class="header">
          <div>FLXR | A Netflix Originals Catalog</div>
        </div>

        <div class="background">
          <p>Background Goes Here</p>
        </div>

        <div class="titleImage">
          <img src="{{ about_dict['imageURL'] }}" width="300" height="400">
        </div>

        <div class="titleInformation">
          <h1>{{about_dict['Title']}}</h1>
        </div>

        <div class="titleSummary">
          <h1>Summary</h1>
        </div>

      </div>

    </div>

  </body>

</html>
