<!DOCTYPE html>
<html>

  <head>
    <title>FLXR</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
  </head>

  <body>

    <div id="content">

      <div class="header">
        <a href="https://flxr-app.herokuapp.com/">
          <img title="Return to FLXR Catalog" src="https://img.icons8.com/nolan/64/video-projector.png" />
        </a>
        <div id="header-title">FLXR | <span>A Netflix Originals Catalog</span></div>
      </div>

      <div class="grid-container">

        <div class="Return"><button onclick="history.back()">Return to Catalog</button></div>
        <div class="backgroundLayer"></div>

        <div class="titleImage">
          <img src="{{about_dict['imageURL']}}" title="{{about_dict['imageURL']}}">
        </div>

        <div class="titleInformation">
          <ul>
            <li>
              <h2>{{about_dict['title']}}</h2>
            </li>
            <hr>
          </ul>
        <table>
          <tr>
            <td class="leftColumn">Title Type |</td>
            <td class="rightColumn">{{about_dict['titleType']}}</td>
          </tr>
          <tr>
            <td class="leftColumn">Genre |</td>
            <td class="rightColumn">{{about_dict['genre']}}</td>
          </tr>
          <tr>
            <td class="leftColumn">Netflix Premiere Year |</td>
            <td class="rightColumn">{{about_dict['releaseYear']}}</td>
          </tr>
          <tr>
            <td class="leftColumn">Original Release Date |</td>
            <td class="rightColumn">{{about_dict['releaseDate']}}</td>
          </tr>
          <tr>
            <td class="leftColumn">Length |</td>
            <td class="rightColumn">
            {% if about_dict['length'] // 60 == 1 %}
              {{about_dict['length'] // 60}} Hour
            {% elif about_dict['length'] // 60 == 0 %}
            {% else %}
              {{about_dict['length'] // 60}} Hour(s)
            {% endif %}
            {% if about_dict['length'] % 60 == 0 %}
            {% else %}
              {{about_dict['length'] % 60}} Minute(s)
            {% endif %}
            {% if about_dict['titleType'] == 'TV-Show'%}
              / Episode
            {% endif %}
            </td>
          </tr>
          {% if about_dict['director'] != '' %}
          <tr>
            <td class="leftColumn">Director |</td>
            <td class="rightColumn">{{about_dict['director']}}</td>
          </tr>
          {% endif %}
          <tr>
            <td class="leftColumn">IMDB Rating|</td>
            <td class="rightColumn">{{about_dict['rating']}} / 10</td>
          </tr>
        </table>
        </div>

        <div class="titleSummary">
          <h3>Summary</h3>
          <hr>
          <p>{{about_dict['summary']}}</p>
        </div>

      </div>

    </div>


  </body>

</html>
