<!DOCTYPE html>
<html>

  <head>
    <title>FLXR</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='descriptions.css') }}">
  </head>

  <body>

    <div id="content">

      <div class="header">
        <a href="https://flxr-app.herokuapp.com/">
          <img title="Return to FLXR Catalog" src="https://img.icons8.com/nolan/64/video-projector.png" />
        </a>
        <div id="header-title">FLXR |
          <span>A Netflix Originals Catalog</span>
          <div><span>Column Descriptions</span></div>
        </div>
      </div>

      <div class="grid-container">

        <div id="navBar">
          <ul>
            <li><button onclick="toggleBtn()"class="button" id="titleBtn">Title</button></li>
            <li><button class="button" id="titleTypeBtn">Title Type</button></li>
            <li><button class="button" id="genreBtn">Genre</button></li>
            <li><button class="button" id="ratingBtn">Rating</button></li>
            <li><button class="button" id="lengthBtn">Length</button></li>
            <li><button class="button" id="releaseYearBtn">Release Year</button></li>
          </ul>
        </div>

        <div id="title">
          <table>
            <tr>
              <td class="column">Title</td>
              <td class="description">We use the original title of a movie/show in its original language as it appears on screen in the opening credits.</td>
            </tr>
          </table>
        </div>

        <div id="titleType">
          <table>
            <tr>
              <td class="column">Title Type</td>
              <td class="description">We use the original title of a movie/show in its original language as it appears on screen in the opening credits.</td>
            </tr>
          </table>
        </div>

        <div id="genre">
          <table>
            <tr>
              <td class="column">Genre</td>
              <td class="description">We use the original title of a movie/show in its original language as it appears on screen in the opening credits.</td>
            </tr>
          </table>
        </div>

        <div id="rating">
          <table>
            <tr>
              <td class="column">Rating</td>
              <td class="description">We use the original title of a movie/show in its original language as it appears on screen in the opening credits.</td>
            </tr>
          </table>
        </div>

        <div id="length">
          <table>
            <tr>
              <td class="column">Length</td>
              <td class="description">We use the original title of a movie/show in its original language as it appears on screen in the opening credits.</td>
            </tr>
          </table>
        </div>

        <div id="releaseYear">
          <table>
            <tr>
              <td class="column">releaseYear</td>
              <td class="description">We use the original title of a movie/show in its original language as it appears on screen in the opening credits.</td>
            </tr>
          </table>
        </div>

      </div>
    </div>

    <script>

    </script>

  </body>

</html>
