<!DOCTYPE html>
<html>

  <head>
    <title>FLXR</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  </head>

  <body>

    <div id="content">

      <div class="grid-container">

        <div class="header">
          <div>Logo</div>
        </div>

        <div class="background">
          <p>
            Background goes here.
          </p>
        </div>

        <div class="search-filter">
          <form>

            <div id="filter_row_one">

              <span id="filter_search">
                <input type="text" placeholder="Search Titles">
              </span>

              <input id="submit_btn" type="submit" value="Submit">

            </div>

            <div id="filter_row_two">

              <span id="filter_media">
                <input type="radio" id="both" name="form_media" value="HTML">
                <label for="both">Both</label>
                <input type="radio" id="movies" name="form_media" value="movies">
                <label for="movies">Movies</label>
                <input type="radio" id="shows" name="form_media" value="shows">
                <label for="shows">Shows</label>
              </span>

              <span id="filter_genre">
                <label for="genre">Genre:</label>
                <select name="genre" id="genre">
                  <option disabled selected value style="display:none"></option>
                  <option value="action">Action</option>
                  <option value="adventure">Adventure</option>
                  <option value="animation">Animation</option>
                  <option value="biography">Biography</option>
                  <option value="comedy">Comedy</option>
                  <option value="crime">Crime</option>
                  <option value="documentary">Documentary</option>
                  <option value="drama">Drama</option>
                  <option value="family">Family</option>
                  <option value="fantasy">Fantasy</option>
                  <option value="filmNoir">Film Noir</option>
                  <option value="history">History</option>
                  <option value="horror">Horror</option>
                  <option value="music">Music</option>
                  <option value="musical">Musical</option>
                  <option value="mystery">Mystery</option>
                  <option value="romance">Romance</option>
                  <option value="science">Science</option>
                  <option value="shortFilm">Short Film</option>
                  <option value="sport">Sport</option>
                  <option value="superhero">Superhero</option>
                  <option value="thriller">Thriller</option>
                  <option value="war">War</option>
                  <option value="western">Western</option>
                </select>
              </span>

              <span id="filter_rating">
                <label for="rating">Rating:</label>
                <select name="rating" id="rating">
                  <option disabled selected value style="display:none"></option>
                  <option value="9to10">9.0 - 10.0</option>
                  <option value="8to8.9">8.0 - 8.9</option>
                  <option value="7to7.9">7.0 - 7.9</option>
                  <option value="6to6.9">6.0 - 6.9</option>
                  <option value="5to5.9">5.0 - 5.9</option>
                  <option value="4to4.9">4.0 - 4.9</option>
                  <option value="3to3.9">3.0 - 3.9</option>
                  <option value="2to2.9">2.0 - 2.9</option>
                  <option value="1to1.9">1.0 - 1.9</option>
                  <option value="0to0.9">0.0 - 0.9</option>
                </select>
              </span>

              <span id="filter_length">
                <label for="length">Length:</label>
                <select name="length" id="length">
                  <option disabled selected value style="display:none"></option>
                  <option value="3plus">3HR +</option>
                  <option value="2to3">2 - 3 HRs</option>
                  <option value="1to2">1 - 2 HRs</option>
                  <option value="less1">1HR ></option>
                </select>
              </span>

              <span id="filter_releaseYear">
                <label for="releaseYear">Release Year:</label>
                <select name="releaseYear" id="releaseYear">
                  <option disabled selected value style="display:none"></option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                </select>
              </span>

              <span id="filter_ageRating">
                <label for="ageRating">Age Rating:</label>
                <select name="ageRating" id="ageRating">
                  <option disabled selected value style="display:none"></option>
                  <option value="g">G</option>
                  <option value="pg">PG</option>
                  <option value="pg13">PG-13</option>
                  <option value="r">R</option>
                  <option value="nc17">NC-17</option>
                </select>
              </span>

            </div>

          </form>
        </div>

        <div class="catalog">
          <table>
            <tr>
              <th style="width:320px">Title</th>
              <th>Genre</th>
              <th>Rating</th>
              <th>Length</th>
              <th>Release Year</th>
              <th>Age Rating</th>
            </tr>
          </table>
        </div>

      </div>

    </div>

  </body>

</html>
